*{
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

#container{
  /* background-color: aqua; */
  width: 60%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

#header{
  width: 100%;
  background-color: rgb(81, 162, 233);
  min-height: 90px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
#main{
  width: 100%;
  /* background-color: rgb(51, 255, 0); */
  min-height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

#nav{
  background-color: rgb(155, 190, 244);
  flex-basis: 24%;
   display: flex;
  justify-content: center;
  align-items: center;
}
#center{
  background-color: rgb(205, 197, 206);
  flex-basis: 48%;
   display: flex;
  justify-content: center;
  align-items: center;
}
#side{
  background-color: rgb(155, 190, 244);
  flex-basis: 24%;
   display: flex;
  justify-content: center;
  align-items: center;
}
#footer{
  width: 100%;
   background-color: rgb(81, 162, 233);
  min-height: 90px;
   display: flex;
  justify-content: center;
  align-items: center;
}