p{
  height: 200px;
  width: 200px;
  /* border: 2px solid red; */
  /* border-color: red;
  border-style: groove;
  border-width: 5px; */
  border: 5px solid red;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  border-radius: 20px;
  margin: 100px auto;
}