*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

#parent{
  width: 100%;
  /* min-height: 80px; */
  background-color: black;
}

.logo{
  width: 50%;
  min-height: 80px;
  background-color: aqua;
  float: left;
  padding-left: 100px;
  display: flex;
  align-items: center;
}


.nav{
  width: 50%;
  min-height: 80px;
  background-color: rgb(255, 166, 0);
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.clear-fix::after{
  content: "";
  clear: both;
  display: block;
}